@import 'settings';
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;
@include foundation-flex-grid;
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;

// Basic components
@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
//@include foundation-pagination;
//@include foundation-tooltip;

// Containers
//@include foundation-accordion;
@include foundation-media-object;
//@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;

// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
//@include foundation-off-canvas;
//@include foundation-reveal;
//@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
//@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

// Obvioulsy customized styles have to go after
// all the foundation stuff for the cascade
// to make sense:
@import 'net7.scss';
@import 'mobilenav.scss';

html {
  scroll-behavior: smooth;
}

.menu-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang-selector {
  display: flex;
  align-items: center;
  border: 2px solid $primary-color;
}

.lang-selector > img {
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.lang-selector > select {
  margin: 0;
}
