body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

body > section {
	flex: 1;
}

header {
  border-top: 5px solid #009ee0;
  margin-bottom: 1.2rem;
}

h1, h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #009ee0;
	padding: 0;
	margin: 1em 0;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #009ee0;
	padding: 0;
	margin: 5px 0;
}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #172983;
	padding: 0;
	margin: 5px 0;
}

.illustration {
	border-top: 2px solid #009ee0;
	border-bottom: 20px solid #009ee0;
}

footer {
	background: #009ee0;
	padding: 2em 0 1em 0;
	color: #fff;
	margin-top: 30px;
}

footer a {
	color: #fff;
	transition: color 300ms ease-out;
}

footer a:hover {
	color: #172983;
}

footer a.social {
  display: inline-block;
  font-size: 2.2rem;
}

strong {
	color: #172983;
	font-weight: bolder;
}