{{> header lang=htmlWebpackPlugin.options.lang}}

<main>
  <div class="row">
    <div class="large-6 medium-8 small-12 columns">
      <h2>Request a Free Trial</h2>
      <p>
        Add reminders to your appointments with configurable type and delay for sending it, all with customizable templates.
      </p>
      <p>
        Manage your address book, keep the history of appointments for your contacts.
      </p>
      <p>See below for more features currently available in app.</p>
      <p>You may <a href="#">request a free trial today</a>.</p>
    </div>
  </div>

  <hr>
  
</main>

{{> footer lang=htmlWebpackPlugin.options.lang}}