{{> header lang=htmlWebpackPlugin.options.lang}}

<main role="main">
  <div class="row align-center main-section">
    <div class="large-6 medium-8 small-12 columns">
      <h2>Request a Free Trial</h2>
      <p>
        You can request a test account that is only limited in that it isn't allowed to send SMS reminders.
      </p>
      <p>
        The other app. features, including email reminders, are all available for you to use.
      </p>
      <p>
        Feel free to <a href="/{{htmlWebpackPlugin.options.lang}}/contact.html">contact us</a> if you need more information.
      </p>

      <hr>

      <form id="trialForm">
        <label>Your name:
          <input type="text" name="nameInput" id="nameInput" placeholder="Your name">
        </label>
        <label>Your email:
          <input type="text" name="emailInput" id="emailInput" placeholder="Your email">
        </label>
        <label>Language:
          <select name="trialLangSelect" id="trialLangSelect">
            <option value="en">{{{translate htmlWebpackPlugin.options.lang 'english'}}}</option>
            <option value="fr">{{{translate htmlWebpackPlugin.options.lang 'french'}}}</option>
            <option value="nl">{{{translate htmlWebpackPlugin.options.lang 'dutch'}}}</option>
          </select>
        </label>
        <div class="text-right">
          <button class="button" type="submit" name="submButton" id="submButton">Send Request</button>
        </div>
      </form>

      <hr>

    </div>

  </div>
  
</main>

{{> footer lang=htmlWebpackPlugin.options.lang}}