{{> header lang=htmlWebpackPlugin.options.lang}}

  <section class="news">
    <section class="row illustration bg-tech">
      <div class="large-4 medium-6 small-centered columns login-form">
        <h2>Control Panel Login</h2>
        <form method="POST" action="https://www.net7.be/technical.html">
          <input type="text" name="login" placeholder="User ID" />
          <input type="password" name="password" placeholder="Password" />
          <button class="button" type="submit">Log in</button>
        </form>
      </div>
    </section>
  </section>

{{> footer lang=htmlWebpackPlugin.options.lang}}
