{{> header lang=htmlWebpackPlugin.options.lang}}

    <section class="row illustration">
      <div class="columns">
        <h2>Some title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi aspernatur reprehenderit quam a iure nesciunt dolores obcaecati vel provident aliquam, adipisci laboriosam ex, enim veritatis sequi, voluptatum unde repellat dicta. Voluptates a vel voluptate, tempore quod fugiat harum, esse rem accusamus voluptatum possimus inventore. Corrupti temporibus quae suscipit labore iusto repudiandae maxime maiores, sequi aperiam saepe, placeat architecto sint laudantium perferendis officiis nulla tempore obcaecati! Consectetur voluptates incidunt, pariatur aliquam rerum itaque voluptas voluptatibus praesentium accusamus, dolorum molestiae ullam error voluptate doloribus odit, similique deserunt dicta quia. Pariatur, sed, id eos alias commodi voluptates delectus corrupti voluptatibus laborum porro recusandae ad vero aut ea voluptatum culpa magnam possimus asperiores maiores? Amet deserunt at nihil neque iure accusamus consequuntur molestias tempora rerum dolorum, labore, consequatur eos autem ea minus enim eligendi magnam eum minima! Officiis id esse repudiandae asperiores dolorem suscipit voluptatum officia, quasi nemo aspernatur fugiat pariatur. Iste, at eligendi.</p>
      </div>
    </section>
  
{{> footer lang=htmlWebpackPlugin.options.lang}}
