{{> header lang=htmlWebpackPlugin.options.lang}}

<main>
  <div class="row cta">
    <div class="callout large large-6 medium-12 small-12 columns">
      <div class="text-center">
        <h1>Net7 RemindOthers</h1>
        <p class="lead">Automatic SMS &amp; Email reminders sent to your customers for future appointments.</p>
        <a href="#lmore" class="button large">Learn More</a>
        <a href="#" class="button large hollow">Request Free Trial</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 small-12 columns medium-pull-6">
      <h2 id="lmore">Fully configurable reminders</h2>
      <p>
        Add reminders to your appointments with configurable type and delay for sending it, all with customizable templates.
      </p>
      <p>
        Manage your address book, keep the history of appointments for your contacts.
      </p>
      <p>See below for more features currently available in app.</p>
      <p>You may <a href="#">request a free trial today</a>.</p>
    </div>
    <div class="medium-6 small-12 columns medium-push-6">
      <img class="thumbnail" src="../../static/rothers_app_en.png">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="medium-4 small-12 columns">
      <h3>Campaigns</h3>
      <p>Send campaigns by email or SMS based on the last appointments for you contacts with configurable templates and criteria.</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h3>Open to <b>your</b> feature requests</h3>
      <p>The project is still young, we're open to any feature request you might have and would strive to implement them.</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h3>Immediate reminder</h3>
      <p>Send a quick email when registering an appointment with the time and date details for automatic integration into the personnal calendars of your customers.</p>
    </div>
  </div>
</main>

{{> footer lang=htmlWebpackPlugin.options.lang}}