  <footer>
    <div class="row">
      <div class="large-9 medium-12 small-12 columns">
        <p>&#169;1996 - Present - Net7 sa/nv &#124; Av. du Commerce 22A &#124  BE-1420 Braine-l'Alleud &#124; +32 (0)2 4811430 &#124; <a href="mailto:info@net7.be">sales@net7.be</a></p>
      </div>
      <div class="large-3 medium-12 small-12 columns">
        <p class="text-right"><a href="https://www.net7.be/notice.html" target="_blank">LEGAL NOTICE &amp; COOKIES</a></p>
      </div>
    </div>
  </footer>
  {{{scriptFromChunk htmlWebpackPlugin.options.bodyScript}}}
</body>
</html>