<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entry point test</title>
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu hide-for-small-only" data-dropdown-menu>
          <li class="menu-text">RemindOthers</li>
          <li><a href="#">Free Trial</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="https://remindothers.net7.be">Go to App.</a></li>
        </ul>
      </div>
      
      <div class="top-bar-right text-right show-for-small-only">
        <button id="menuBtn">
          <img width="40px" src="../../static/menu.png" alt="Mobile menu icon">
        </button>
      </div>
      
      <ul id="mobileNav" class="menu-shadow">
        <li><a href="#">Free Trial</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="https://remindothers.net7.be">Go to App.</a></li>
      </ul>
      <div id="mobileNavOverlay"></div>
    </div>   
  </header>