<li><a href="index.html">Home</a></li>
<li><a href="{{baseUrl}}/{{lang}}/free-trial.html">Free Trial</a></li>
<li><a href="{{baseUrl}}/{{lang}}/contact.html">Contact</a></li>
<li><a href="https://remindothers.net7.be">Go to App.</a></li>