<li><a href="/{{lang}}/">Home</a></li>
<li><a href="/{{lang}}/free-trial.html">Free Trial</a></li>
<li><a href="/{{lang}}/contact.html">Contact</a></li>
<li><a href="https://remindothers.net7.be">Go to App.</a></li>